@keyframes ldio-xt28miavdk9 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.48000000000000004,0.48000000000000004);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-xt28miavdk9 div > div {
  position: absolute;
  width: 42.660000000000004px;
  height: 42.660000000000004px;
  border-radius: 50%;
  background: #2c81c8;
  animation: ldio-xt28miavdk9 0.3921568627450981s linear infinite;
}.ldio-xt28miavdk9 div:nth-child(1) > div {
  left: 154.5px;
  top: 97.5px;
  animation-delay: -0.3703703703703704s;
}
.ldio-xt28miavdk9 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 175.83px 118.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(2) > div {
  left: 150.5px;
  top: 116.5px;
  animation-delay: -0.3485838779956427s;
}
.ldio-xt28miavdk9 > div:nth-child(2) {
  transform: rotate(20deg);
  transform-origin: 171.83px 137.83px;
}.ldio-xt28miavdk9 div:nth-child(3) > div {
  left: 140.5px;
  top: 133.5px;
  animation-delay: -0.32679738562091504s;
}
.ldio-xt28miavdk9 > div:nth-child(3) {
  transform: rotate(40deg);
  transform-origin: 161.83px 154.83px;
}.ldio-xt28miavdk9 div:nth-child(4) > div {
  left: 125.5px;
  top: 146.5px;
  animation-delay: -0.30501089324618735s;
}
.ldio-xt28miavdk9 > div:nth-child(4) {
  transform: rotate(60deg);
  transform-origin: 146.83px 167.83px;
}.ldio-xt28miavdk9 div:nth-child(5) > div {
  left: 107.5px;
  top: 153.5px;
  animation-delay: -0.2832244008714597s;
}
.ldio-xt28miavdk9 > div:nth-child(5) {
  transform: rotate(80deg);
  transform-origin: 128.83px 174.83px;
}.ldio-xt28miavdk9 div:nth-child(6) > div {
  left: 87.5px;
  top: 153.5px;
  animation-delay: -0.26143790849673204s;
}
.ldio-xt28miavdk9 > div:nth-child(6) {
  transform: rotate(100deg);
  transform-origin: 108.83000000000001px 174.83px;
}.ldio-xt28miavdk9 div:nth-child(7) > div {
  left: 68.5px;
  top: 146.5px;
  animation-delay: -0.23965141612200436s;
}
.ldio-xt28miavdk9 > div:nth-child(7) {
  transform: rotate(120deg);
  transform-origin: 89.83000000000001px 167.83px;
}.ldio-xt28miavdk9 div:nth-child(8) > div {
  left: 53.5px;
  top: 133.5px;
  animation-delay: -0.2178649237472767s;
}
.ldio-xt28miavdk9 > div:nth-child(8) {
  transform: rotate(140deg);
  transform-origin: 74.83000000000001px 154.83px;
}.ldio-xt28miavdk9 div:nth-child(9) > div {
  left: 43.5px;
  top: 116.5px;
  animation-delay: -0.19607843137254902s;
}
.ldio-xt28miavdk9 > div:nth-child(9) {
  transform: rotate(160deg);
  transform-origin: 64.83000000000001px 137.83px;
}.ldio-xt28miavdk9 div:nth-child(10) > div {
  left: 40.5px;
  top: 97.5px;
  animation-delay: -0.17429193899782136s;
}
.ldio-xt28miavdk9 > div:nth-child(10) {
  transform: rotate(180deg);
  transform-origin: 61.83000000000001px 118.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(11) > div {
  left: 43.5px;
  top: 77.5px;
  animation-delay: -0.15250544662309368s;
}
.ldio-xt28miavdk9 > div:nth-child(11) {
  transform: rotate(200deg);
  transform-origin: 64.83000000000001px 98.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(12) > div {
  left: 53.5px;
  top: 60.5px;
  animation-delay: -0.13071895424836602s;
}
.ldio-xt28miavdk9 > div:nth-child(12) {
  transform: rotate(220deg);
  transform-origin: 74.83000000000001px 81.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(13) > div {
  left: 68.5px;
  top: 47.5px;
  animation-delay: -0.10893246187363835s;
}
.ldio-xt28miavdk9 > div:nth-child(13) {
  transform: rotate(240deg);
  transform-origin: 89.83000000000001px 68.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(14) > div {
  left: 87.5px;
  top: 41.5px;
  animation-delay: -0.08714596949891068s;
}
.ldio-xt28miavdk9 > div:nth-child(14) {
  transform: rotate(260deg);
  transform-origin: 108.83000000000001px 62.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(15) > div {
  left: 107.5px;
  top: 41.5px;
  animation-delay: -0.06535947712418301s;
}
.ldio-xt28miavdk9 > div:nth-child(15) {
  transform: rotate(280deg);
  transform-origin: 128.83px 62.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(16) > div {
  left: 125.5px;
  top: 47.5px;
  animation-delay: -0.04357298474945534s;
}
.ldio-xt28miavdk9 > div:nth-child(16) {
  transform: rotate(300deg);
  transform-origin: 146.83px 68.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(17) > div {
  left: 140.5px;
  top: 60.5px;
  animation-delay: -0.02178649237472767s;
}
.ldio-xt28miavdk9 > div:nth-child(17) {
  transform: rotate(320deg);
  transform-origin: 161.83px 81.83000000000001px;
}.ldio-xt28miavdk9 div:nth-child(18) > div {
  left: 150.5px;
  top: 77.5px;
  animation-delay: 0s;
}
.ldio-xt28miavdk9 > div:nth-child(18) {
  transform: rotate(340deg);
  transform-origin: 171.83px 98.83000000000001px;
}
.loadingio-spinner-spin-d2vup52u7m {
  width: 237px;
  height: 237px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-xt28miavdk9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xt28miavdk9 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
