.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 940px;
    min-height: 140px;
    background: white;
    border-radius: 5px;
    margin: 13px 0;
    box-shadow:0px 3px 6px 1px rgba(0,0,0,0.12);
    -webkit-box-shadow:0px 3px 6px 1px rgba(0,0,0,0.12);
    -moz-box-shadow:0px 3px 6px 1px rgba(0,0,0,0.12);
    padding-bottom: 15px;

    .card__header{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        width:100%;
    }

    .card__fullText{
        padding: 0 13px;
       
        overflow-wrap: anywhere;
    }

    .card__content{
        width: 100%;
    }
    .card__content-title{
        display: flex;
    }
    .card__content-text{
        max-width: 680px;
        font-size: 12px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.75);
       
    }
    .card__content-tags{
        display:flex;
        max-width: 100%;
        flex-wrap: wrap;
        .card__content-tags--elem{

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color:rgba(0, 0, 0, 0.5);

            display: flex;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 2px;
            padding:2px;
            margin: 2px 4px;
        }
    }
    .card__author{
        display: flex;
        width:200px;
        justify-content: flex-end;
    }
    .card__author-name{
        font-size: 18px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.85);
    }
    .card__author-date{
        font-size: 12px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.5);
    }
    .card__author-info{
        margin-left: 20px;
    }
    .card__heart{
        display: flex;
        cursor: pointer;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        background: transparent;
        align-items: center;
        padding: 1px;
    }
    .card__heart-counter{
        color:rgba(0, 0, 0, 0.75);
    }
    .card__content-heart{
        margin-right: 5px;
    }
    .card__title{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #1890FF;
        margin: 0 13px 0 0;
        max-width: 600px;
        overflow-wrap: anywhere;
    }
    .card__author-avatar{
        min-width: 46px;
        width: 46px;
        height: 46px;
        margin-left: 14px;
    }
    .card__submit{
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #1890FF;
        border-radius: 4px;
        height: 29px;
        margin-top: 5px;
        border: none;
        color: white;
        font-size: 12px;
        margin-right: 10px;
    }
    .card__buttons{
        position: relative;
        display: flex;
    }
    .card__modal{
        top:30px;
        position: absolute;
        background: white;
        border: 1px solid tomato;
        border-radius: 3px;
    }

    .card__modal--view{
        background:white;
        position: absolute;
        border-radius: 5px;        
        padding: 10px;
        top: -3px;
        left: -10px;
        z-index: 100;
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.5s;
        box-shadow:5px 5px 15px 5px#bbb5b5;
    }
    .card__modal--hide{
        position: absolute;
        top: 0;
        z-index: -100;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 3s;
    }
    .card__modal-buttons{
        display: flex;
        justify-content: space-around;
    }
    .card__modal-button{
        border: none;
    }
    .submit{
        background: url('../../img/submit.svg') no-repeat center;
        width: 20px;
        height: 20px;
        background-size: contain;
        box-shadow: 1px 1px 5px 1px #bbb5b5;
        border-radius: 3px;
    }
    .reject{
        background: url('../../img/delete.svg') no-repeat center;
        width: 20px;
        height: 20px;
        background-size: contain;
        box-shadow: 1px 1px 5px 1px #bbb5b5;
        border-radius: 3px;
    }
    .card__modal-text{
        display: flex;
        text-align: center;
        font-size: medium;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .card__modal-text::before{
        content: '';
        background: url('../../img/delete.svg') no-repeat center;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-size:contain;
    }

    .card__btn-edit{
        width: 30px;
        height: 30px;
        background: url('../../img/edit.svg') no-repeat center;
        background-size: contain;
    }
    .card__btn-delete{
        width: 30px;
        height: 30px;
        background: url('../../img/delete.svg') no-repeat center;
        background-size: cover;
    }
    .card__button{
        outline: none;
        border:none;
        border-radius: 5px;
        background: transparent;
    }
}