.header{
    display:flex;
    background: white;
    width: 100%;
    margin: auto;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 22px;   
}

.header__login, .header__registration{

    outline: none;
    border:none;
    border-radius: 5px;
    background: transparent;
    margin: 0 10px;

    cursor: pointer;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.header__login:active, .header__registration:active, .header__login:focus, .header__registration:focus{
    border: 1px solid #52C41A;
    box-sizing: border-box;
    border-radius: 5px;
    color:#52C41A;
}

.header__login:active, .header__registration:active{
    transform: translateY(2px);
}
.header__login:hover, .header__registration:hover{
    animation: pulse 2s;
    color:#52C41A;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(49, 204, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(44, 204, 97, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(44, 204, 84, 0.4);
      box-shadow: 0 0 0 0 rgba(44, 204, 79, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(44, 204, 71, 0);
        box-shadow: 0 0 0 10px rgba(44, 204, 79, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(63, 204, 44, 0);
        box-shadow: 0 0 0 0 rgba(44, 204, 52, 0);
    }
  }