@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

input[type="text"]::-webkit-input-placeholder {
    color: #BFBFBF;
   } 
   input[type="text"]::-moz-placeholder {
        color: #BFBFBF;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
   }

   .article__input-invalid{
    border: 1px solid #fc0303;
}


.article{
    display:flex;
    flex-direction: column;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
    width: 100%;
    max-width: 950px;
    padding: 48px 32px;
    margin-top: 60px;   
    
    .article__rulls{
        color: #F5222D;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
    }

    .article__form-label{
        position: relative;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }
    .article__form{
        padding: 21px 0;
        border-bottom: 1px solid #E8E8E8;
    }
    .article__have-accaunt{
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        text-align: center;
    }

    .article__title{
        font-family: 'Roboto';
        text-align: center;
        color: #262626;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        
    }
    .article__title-form{
        color: #262626;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
    }
    
    .article__form-input{
        background: #FFFFFF;
        margin-right: 5px;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
        min-width: 50px;        
        width: 100%;
        height: 40px;              
    }
    .article__tag{
        max-width: 145px;
    }

    .article__input-invalid{
        border: 1px solid #fc0303;
    }
    .article__submit{
        background: #1890FF;
        border-radius: 4px;
        height: 40px;
        margin-top: 21px;
        border: none;
        color: white;
    }
    .article__loading{
        position: absolute;
        width: 100%;
        left: 0px;
        text-align: center;
        height: 100%;
        background: white;
        opacity: 0.8;
    }
    .article__textarea{
        min-height: 100px;
        padding: 10px
    }
    .article__label-tag{
        flex-direction: row;
        max-width: 40%;
    }
    .article__add-tag{
        margin:0 0 0 10px;
    }
    .article__del-button--hide{
        display: none;
    }
    .article__del-button--view{
        display: block;
    }
    .article__form-wrapper-tags{
        display: flex;
    }
}